body {
  padding: 0vh 2vw;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

#cv-container {
  width: 210mm;
  height: 297mm;
  background-color: #333;
  color: #fff;
}

#name {
  margin: auto 1rem;
}

#position {
  margin: auto 1.2rem;
}

#profile-photo {
  margin: 1rem 0.5rem;
  filter: grayscale(100%);
}

img {
  border-radius: 50% 0%;
}

.fa {
  font-size: 1.6rem;
}

a {
  color: white;
  font-size: 1rem;
}

/* Utilities */

.upper {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.three-heading {
  font-size: 3rem;
}

.sub-heading {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 1.3rem auto;
}

ul {
  text-align: justify;
}

li {
  margin: auto auto 0.8rem 1rem;
}

.title-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub-title-color {
  color: cyan;
}

.skill-name {
  margin: 1rem auto;
  font-size: 0.8rem;
}

.sub-skills {
  color: lightgrey;
}

/* margin */

.mt1 {
  margin: 0.5rem auto;
}

.ml1 {
  margin-left: 1rem;
}

/* Progress Bar */
.js-progress {
  width: 60%;
}

.ml-progress {
  width: 65%;
}

.bc-progress {
  width: 70%;
}

.cloud-progress {
  width: 70%;
}

.java-progress {
  width: 90%;
}

.integration-progress {
  width: 90%;
}

.devops-progress {
  width: 75%;
}

.db-progress {
  width: 80%;
}

.nt-progress {
  width: 80%;
}

.light-gray {
  color: lightgray;
}

.project-title {
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: lightsalmon;
  margin-top: 0.8rem;
}

.project-content {
  font-size: 1rem;
}

.project {
  text-align: justify;
}

.emphasis {
  font-weight: bolder;
  color: lemonchiffon;
}

.technologies {
  color: lightgray;
  font-weight: bold;
  margin-top: 0.1rem;
}
